{% extends 'home/index.html' %}

{% load static %}
{% block main %}


    <!-- Inner Content Box ==== -->
    <div class="page-content">
        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url(static/assets/images/banner/banner2.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white"></h1>
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="../">Home</a></li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->
		<!-- Page Content Box ==== -->
		<div class="content-block">
            <!-- About Us ==== -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon1.png' %}" alt=""/></a>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Award</h5>
									<p>BitcionExpertTraders is the Award winning Brokerage platform in the Universe as from 2012</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon2.png' %}" alt=""/></a>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Message</h5>
									<p>The Best and Trusted Brokerage Platform..</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon3.png' %}" alt=""/></a>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Key Of Success</h5>
									<p>BitcionExpertTradersis here to help you invest and save for present and future.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
							<div class="feature-container">
								<div class="feature-md text-white m-b20">
									<a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/icon4.png' %}" alt=""/></a>
								</div>
								<div class="icon-content">
									<h5 class="ttr-tilte">Medals</h5>
									<p>2012, 2013, 2014, 2015, 2016, 2017, 2018 and Till date as the Best Brokerage Platform..</p>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- About Us END ==== -->
            <!-- Our Story ==== -->
			<div class="section-area bg-gray section-sp1 our-story">
				<div class="container">
					<div class="row align-items-center d-flex">
						<div class="col-lg-5 col-md-12 heading-bx">
							<h2 class="m-b10">Our Mission</h2>
							<h5 class="fw4"></h5>
							<p> We believe that decentralised cryptocurrencies like Bitcoin and Ethereum will fundamentally change how the world views and uses money. As early pioneers in this industry, we feel it’s our duty to bring this knowledge and excitement to the world as best we can. It takes a certain breed of person, with a special system of values, to take on a challenge of such epic proportions. Read more about our Moontality.</p>
							<a href="#" class="btn">Read More</a>
						</div>
						<div class="col-lg-7 col-md-12 heading-bx p-lr">
							<div class="video-bx">
								<img src="{% static 'assets/images/about/pic1.jpg' %}" alt=""/>
								<a href="https://youtu.be/Gc2en3nHxA4" class="popup-youtube video"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Our Story END ==== -->
			<!-- Our Status ==== -->
			<div class="section-area content-inner section-sp1">
                <div class="container">
                    <div class="section-content">
                         <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
                                    <div class="text-primary">
										<span class="counter">3000</span><span>+</span>
									</div>
									<span class="counter-text">Completed Projects</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">2500</span><span>+</span>
									</div>
									<span class="counter-text">Happy Clients</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-primary">
										<span class="counter">1500</span><span>+</span>
									</div>
									<span class="counter-text">Questions Answered</span>
								</div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                                <div class="counter-style-1">
									<div class="text-black">
										<span class="counter">500</span><span>+</span>
									</div>
									<span class="counter-text">Agents</span>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- Our Status END ==== -->
			<!-- About Content ==== -->
			<div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" style="background-image:url(assets/images/background/bg1.jpg);">
                <div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-white">
								<h2>Trade & Make Money online on <br/> your time</h2>
								<h2>Over</h2><h4><span class="counter">5000000 </span> Users</h4>
								<p>We’re trusted by over 5 million people across 40 countries. That’s because we’re building a community together. We want to upgrade everyone, everywhere with our easy-to-use products, built on some of the world’s most sophisticated cryptocurrency security systems. While traditional financial institutions may rely on exclusive offers, we provide inclusive experiences.</p>
								<a href="register" class="btn button-md">Join Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- About Content END ==== -->
			<!-- Testimonials -->
			<div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url(static/assets/images/background/bg1.jpg);">
                <div class="container">
					<div class="row">
						<div class="col-md-12 text-white heading-bx left">
							<h2 class="title-head text-uppercase">what people <span>say</span></h2>
							<p>Costumer feedbacks</p>
						</div>
					</div>
					<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="{% static 'assets/images/testimonials/pic1.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name">Evelyn Packer</h5>
									<p>Investor</p>
								</div>
								<div class="testimonial-content">
									<p>BitcionExpertTradersis eazy to use. Easy to fund. Easy to trade, It has the simplest interface of all and also has the fastest entry point into the market....</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="{% static 'assets/images/testimonials/pic2.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name">James Owen</h5>
									<p>Investor</p>
								</div>
								<div class="testimonial-content">
									<p>This is a more than a trading company. Giving you guys 5 stars for your 5 star services. Great company. Awesome support...</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="{% static 'assets/images/testimonials/pic5.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name">Clara Kimhasha</h5>
									<p>Investor</p>
								</div>
								<div class="testimonial-content">
									<p>Simply the best. wonderful trading company and very easy to trade...</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="{% static 'assets/images/testimonials/pic4.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name">Anthony Billwell</h5>
									<p>Investor</p>
								</div>
								<div class="testimonial-content">
									<p>It has been a pleasure doing business with you and i look forward to our future business relationship...</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial-bx">
								<div class="testimonial-thumb">
									<img src="{% static 'assets/images/testimonials/pic3.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<h5 class="name">Paul Mertian</h5>
									<p>Investor</p>
								</div>
								<div class="testimonial-content">
									<p>Thank you for your great service, the best trading company to invest with...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END -->
		</div>
		<!-- Page Content Box END ==== -->
    </div>
    <!-- Inner Content Box END ==== -->

{% endblock %}