{% extends 'user/account.html' %}

{% block title %}Binary Crypto Tradings - upgrade{% endblock %}
{% load static %}
{% block main %}

<section class="pricing py-5">


    <div class="container-fluid">
        <h1 class="h3 mb-2 mt-0 text-white text-capitalize">Upgrade Account
        </h1>


                <div class="row">
                        <!-- Free Tier -->
            <div class="col-lg-4  mb-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">BRONZE</h5>
                        <h6 class="card-price text-center">$500</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>24x7 Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Charts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Alerts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Central Bronze
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>NO BONUS</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Live
                                Trading
                                With Experts</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>SMS &amp;
                                EMail
                                Alerts</li>

                        </ul>
                        <a href="#" data-toggle="modal" data-target="#bronzeModal" class="btn btn-block btn-primary text-uppercase">Upgrade
                            Account</a>
                    </div>
                </div>
            </div>

                        <!-- Plus Tier -->
            <div class="col-lg-4  mb-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">SILVER</h5>
                        <h6 class="card-price text-center">$1,500</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>24x7 Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Charts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Alerts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Central Silver
                            </li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>3,500 USD Bonus</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Live
                                Trading
                                With Experts</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>SMS &amp;
                                EMail
                                Alerts</li>
                        </ul>
                        <a href="#" data-toggle="modal" data-target="#silverModal" class="btn btn-block btn-primary text-uppercase">Upgrade
                            Account</a>
                    </div>
                </div>
            </div>


                        <!-- Pro Tier -->
            <div class="col-lg-4  mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">GOLD</h5>
                        <h6 class="card-price text-center">$5,000</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>24x7 Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Charts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Alerts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Central Gold</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>8,500 USD Bonus</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Live Trading
                                With Experts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>SMS &amp; EMail
                                Alerts</li>

                        </ul>
                        <a href="#" data-toggle="modal" data-target="#goldModal" class="btn btn-block btn-primary text-uppercase">Upgrade
                            Account</a>
                    </div>
                </div>
            </div>



                        <!-- Pro Tier -->
            <div class="col-lg-4  mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">DIAMOND</h5>
                        <h6 class="card-price text-center">$20,000</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>24x7 Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Charts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Alerts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Central Gold</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>15,500 USD Bonus</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Live Trading
                                With Experts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>SMS &amp; EMail
                                Alerts</li>
                        </ul>
                        <a href="#" data-toggle="modal" data-target="#diamondModal" class="btn btn-block btn-primary text-uppercase">Upgrade
                            Account</a>
                    </div>
                </div>
            </div>


                        <!-- Pro Tier -->
            <div class="col-lg-4  mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">ULTIMATE</h5>
                        <h6 class="card-price text-center">$50,000</h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>24x7 Support</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Professional Charts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Alerts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Trading Central Gold</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>35,000 USD Bonus</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Live Trading
                                With Experts</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>SMS &amp; EMail
                                Alerts</li>
                        </ul>
                        <a href="#" data-toggle="modal" data-target="#ultimateModal" class="btn btn-block btn-primary text-uppercase">Upgrade
                            Account</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock  %}